button {

  &.btn,
  &.accordion-button {
    border-radius: 0 !important;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  &.btn-link {
    &:hover {
      text-decoration: none;
    }
  }

  &.accordion-button:focus {
    background-color: inherit;
    border-radius: 0;
  }

  &.btn-primary {
    color: $text-primary;

    &:focus,
    &:hover,
    &:disabled {
      color: $text-primary;
    }
  }
}

input.form-control {
  border-radius: 0;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

// toaster
.toast {
  min-width: 300px;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: inherit;
}
