:root {
  --font-weight-bolder: 500;
}

$base-color: #495057;
$svg-bg-color: #F2F2F3;
$border-color: #F5F6F8;
$body-bg: #FBFBFC;
$primary: #2E3192;
$white: #FFFFFF;
$success-color: #7FBD34;
$success: #74BD3F;
$error-color: #DC3545;
$link-color: #556EE6;
$text-primary: #FFFFFF;
$alt-color: #939EB9;
